marquee {
     background-color: aqua;
    font-weight: 200;
    font-size: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;

}
.cabeca{
    background-color:cadetblue;
    font-weight: 200;
    font-size: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.corpo {
    background-color:aliceblue;
    font-weight: 200;
    font-size: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    padding: 05%;
}
.rodape {
    background-color: antiquewhite;
    font-weight: 200;
    font-size: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}